// font name - {name}-{variant}.woff/woff2

@mixin fontFace($variant, $type, $weight, $style) {
  $directory: "../fonts/";
  @font-face {
    font-family: "#{$variant}";
    src: local("#{$variant} #{$type}"), local("#{$variant}-#{$type}"),
      url("#{$directory}#{$variant}-#{$type}.woff") format("woff"),
      url("#{$directory}#{$variant}-#{$type}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}

@include fontFace("placeholder", "regular", 400, normal);
