include ../../data/works.data.pug

mixin works()
  - const {title, list} = worksData;

  section.section.works#works
    .container.section__inner
      +title({text: title[pageLang]})
      ul.works__list
        each item in list
          - const {title, description, id, images: {thumbnail, list}, techs} = item;
          li.works__item(data-hystmodal=`#${id}`)
            header.works__item-header
              h3.works__item-title !{title}
              +icon({name: 'icon-expand', width: 20, height: 20})
            p.works__item-description !{description[pageLang]}
            .works__techs
              each tech in techs
                - const {text, color} = tech;
                +badge({text, color})
