include ../../data/hero.data.pug

mixin hero()
  - const {avatar, texts: {title, subtitle, small, downLoadBtn, worksBtn}} = heroData;

  section.section.hero#hero
    .container.hero__inner
      .hero__img-container
        +imgSvg(avatar).hero__avatar
      .hero__text
        h2.hero__title !{title[pageLang]}
        p !{small[pageLang]}
        span.hero__divider
        p.hero__subtitle !{subtitle[pageLang]}
      .hero__actions
        +button({isLink: true, url: '#contact', label: downLoadBtn[pageLang]}).hero__btn
          +icon({name: 'icon-arrow-down', width: 16, height: 16})
        +button({isLink: true, url: '#works', label: worksBtn[pageLang], accent: "true", shadowRight: "true"}).hero__btn.hero__btn--download.hero__btn--shadow-right


