//- {
//-   links: [
//-     {
//-       ru: {
//-         url: string;
//-         name: string;
//-       },
//-       eng: {
//-         url: string;
//-         name: string;
//-       }
//-     }
//-   ]
//- }

mixin mainNav({links})

  nav.main-nav#main-nav&attributes(attributes)
    ul.main-nav__list#mainNav
      each item in links
        li.main-nav__item
          a(href=item[pageLang].url) !{item[pageLang].name}
