//- {
//-   links: [
//-     {
//-       url: string;
//-       name: string;
//-     }
//-   ]
//- }

mixin mainNav({links})

  nav.main-nav#main-nav&attributes(attributes)
    +toggler({label: 'Открыть меню', targetId: 'toggler', switchableClass: 'active'})
    ul.main-nav__list
      each item in links
        li.main-nav__item
          a(href=item.url) !{item.name}
