.modal {
  $c: &;

  &__wrap {
    padding: 20px;
  }

  &__window {
    width: 100%;
    border-radius: 10px;
    transform: scale(1);

    @include min-laptop {
      width: 70%;
    }

    @include min-desktop {
      width: 50%;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;

    &::after {
      @include pseudo;

      bottom: -30px;
      height: 30px;
      width: 100%;
      background: linear-gradient(0deg, $color-transparent, $color-white);
    }

    h3 {
      @include font(28, 34);

      margin: 0;
    }
  }

  &__close {
    @include button-reset;

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      @include pseudo;

      left: -10px;
      top: -10px;
      bottom: -10px;
      right: -10px;
    }

    svg {
      display: block;
    }

    @include min-tablet {
      @include interactive-opacity;
    }

    @include min-laptop {
      right: -40px;
      top: 15px;
      color: $color-white;
    }
  }

  &__content {
    padding: 20px 0;
    max-height: 60vh;
    overflow-y: auto;
  }

  &__slider {
    margin-bottom: 20px;
  }

  &__techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }

  &__link {
    @include transition(color);

    display: flex;
    align-items: center;
    color: rgba($color: $color-black, $alpha: 0.7);

    @include min-tablet {
      &:hover {
        color: $color-black;
      }
    }
  }
}
