extends ../base/layout

block variables
  - const mainPage = false

block main
  h1.visually-hidden Kenan Agaev, front-end developer from Sain-Petersburg. Creating user interfaces with the help of React, Angular and native HTML5/CSS3
  +hero()
  +skills()
  +works()
