.contacts {
  $c: &;

  padding-bottom: 300px;

  &__subtitle {
    @include font(14, 24);

    text-align: center;
    margin-bottom: 40px;
    max-width: 60%;
  }

  &__list {
    @include list-reset;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__item {
    svg {
      display: block;
    }

    @include min-tablet {
      &:hover {
        @include interactive-opacity;
      }
    }
  }

  &__link {
    @include transition(opacity);

    @include min-tablet {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
