//- {
//-   label: string;
//-   targetId: string;
//-   switchableClass: string;
//- }

mixin toggler({label, targetId, switchableClass})
  - const name = label || `Toggle block ${targetId}`;

  button.toggler(aria-label=name, data-target-id=targetId, data-target-class-toggle=switchableClass, data-toggler)
    span
