include ../../data/header.data.pug

mixin header()

  header.header&attributes(attributes)
    .header__inner.container
      a.header__logo(href="/")
        span K
        span A
      +mainNav({links: headerData.links})
