-
  const aboutData = {
    title: {
      en: 'About me',
      ru: 'Обо мне',
    },
    text: {
      en: 'More than <b>two years</b> of commercial experience in the development of interfaces with the use of both native technologies, template engines and preprocessors, and <b>frameworks</b>. In the past, I was a therapist, and now I want to make the web <b>painless</b> for users.',
      ru: 'Более <b>двух лет</b> коммерческого опыта в&nbsp;разработке интерфейсов с&nbsp;использованием как нативных технологий, шаблонизаторов и&nbsp;препроцессоров, так и&nbsp;<b>фреймворков.</b> В&nbsp;прошлом&nbsp;&mdash; врач-терапевт, а&nbsp;сейчас&nbsp;&mdash; хочу делать веб <b>безболезненным</b> для пользователей.',
    }
  }
