-
  const footerData = {
    title: {
      en: 'Get in touch',
      ru: 'Свяжитесь со мной',
    },
    subtitle: {
      en: 'Let\'s start working together',
      ru: 'Начнем сотрудничать как можно скорее',
    },
    list: [
      {
        name: 'telegram',
        link: 'tg://resolve?domain=@kenakula',
        icon: {
          name: 'icon-tg',
          width: 30,
          height: 30,
        }
      },
      {
        name: 'github',
        link: 'https://github.com/kenakula',
        icon: {
          name: 'icon-github',
          width: 30,
          height: 30,
        }
      },
      {
        name: 'linkedin',
        link: 'https://www.linkedin.com/in/kenan-agaev-561b36228/',
        icon: {
          name: 'icon-linkedin',
          width: 30,
          height: 30,
        }
      }
    ]
  }
