-
  const headerData = {
    links: [
      {
        ru: {
          name: 'Навыки',
          url: '#skills',
        },
        en: {
          name: 'Skills',
          url: '#skills',
        }
      },
      {
        ru: {
          name: 'Работы',
          url: '#works',
        },
        en: {
          name: 'Works',
          url: '#works',
        }
      },
    ],
  }
