-
  const heroData = {
    texts: {
      title: {
        en: 'Hi, I\'m Kenan',
        ru: 'Привет! Я - Кенан.',
      },
      small: {
        en: 'front-end developer',
        ru: 'front-end разработчик',
      },
      subtitle: {
        en: 'Specialized in creating sleek and comfortable user interfaces.',
        ru: 'Специализируюсь на разработке удобных и доступных пользовательских интерфейсов.',
      },
      downLoadBtn: {
        en: 'Contact Me',
        ru: 'Связаться',
      },
      worksBtn: {
        en: 'Selected Works',
        ru: 'Мои проекты',
      },
    },
    avatar: {
      path: '',
      image: 'avatar',
      width: 180,
      height: 180,
      altText: 'avatar',
    }
  }
