-
  const mainNavData = {
    links: [
      {
        ru: {
          name: 'Навыки',
          url: '#skills',
        },
        en: {
          name: 'Skills',
          url: '#skills',
        },
        color: 'blue',
      },
      {
        ru: {
          name: 'Работы',
          url: '#works',
        },
        en: {
          name: 'Works',
          url: '#works',
        },
        color: 'red',
      },
      {
        ru: {
          name: 'Контакты',
          url: '#contacts',
        },
        en: {
          name: 'Contacts',
          url: '#contacts',
        },
        color: 'orange',
      },
    ],
  }
