-
  const skillsData = {
    title: {
      en: 'Skills',
      ru: 'Навыки',
    },
    list: [
      {
        title: 'HTML5 / CSS3',
        icons: [
          {
            name: 'icon-html',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-css',
            width: 50,
            height: 50,
          },
        ],
        text: 'Для ускорения процесса разработки статичных сайтов и сохранения компонентого подхода использую такие технологии как <span class="badge badge--blue">pug</span> <span class="badge badge--red">scss</span> <span class="badge badge--blue">nunjucks</span> <span class="badge badge--orange">html-imports</span>. Использую современные и в то же время кроссбраузерные подходы в верстке. Валидная, доступная и адаптивная верстка <span class="badge badge--yellow">pixel-perfect</span> - это меньшее что я могу предложить.',
      },
      {
        title: 'Javascript / TS (ES6)',
        icons: [
          {
            name: 'icon-javascript',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-typescript',
            width: 50,
            height: 50,
          },
        ],
        text: 'Мой javascript типизирован, удобочитаем, понятен и производителен. В разработке использую <span class="badge badge--yellow">ES6</span> синтаксис, при этом не забывая про старые браузеры. Бандлы не перегружены ненужным кодом, если что-то можно сделать ручками без боли и без npm пакетов - будет сделано ручками.',
      },
      {
        title: 'React / Angular',
        icons: [
          {
            name: 'icon-react',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-angular',
            width: 50,
            height: 50,
          },
        ],
        text: 'В настоящее время разрабатываю сайты на React и Angular, работал в командах над проектами <span class="badge badge--red">МТС</span> <span class="badge badge--yellow">Билайн</span> <span class="badge badge--blue">Алроса</span>. Одних фреймворков мало, поэтому не обходится без использования полезных библиотек: Redux, MobX, MaterialUI, CoreUI, Axios и др.',
      },
      {
        title: 'Git',
        icons: [
          {
            name: 'icon-git',
            width: 50,
            height: 50,
          },
        ],
        text: 'Куда же без контроля версий. Работал в составе крупных и не очень команд. Пре-коммит хуки, черри-пики, ребейсы, сквоши и вот это вот всё.',
      },
      {
        title: 'Gulp / Webpack',
        icons: [
          {
            name: 'icon-gulp',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-webpack',
            width: 50,
            height: 50,
          },
        ],
        text: 'В разработке использую инструменты сборки и автоматизации. Html собирается из файлов шаблонизатора, стили из scss, javascript минифицируется и прогоняется через <span class="badge badge--yellow">babel</span>.',
      },
      {
        title: 'Wordpress',
        icons: [
          {
            name: 'icon-wordpress',
            width: 50,
            height: 50,
          },
        ],
        text: 'Wordpress популярен, широко распространен и откровенно говоря хорош. Имею опыт в создании кастомных тем без боли и страданий для пользователей админки.',
      },
    ]
  }
