-
  const skillsData = {
    title: {
      en: 'Skills',
      ru: 'Навыки',
    },
    list: [
      {
        title: 'HTML5 / CSS3',
        icons: [
          {
            name: 'icon-html',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-css',
            width: 50,
            height: 50,
          },
        ],
        text: {
          ru: 'Для ускорения процесса разработки статичных сайтов и сохранения компонентого подхода использую такие технологии как <span class="badge badge--blue">pug</span> <span class="badge badge--red">scss</span> <span class="badge badge--blue">nunjucks</span> <span class="badge badge--orange">html-imports</span>. Использую современные и в то же время кроссбраузерные подходы в верстке. Валидная, доступная и адаптивная верстка <span class="badge badge--yellow">pixel-perfect</span> - это меньшее что я могу предложить.',
          en: 'To make building sites faster and still following component approach I use such tools as <span class="badge badge--blue">pug</span> <span class="badge badge--red">scss</span> <span class="badge badge--blue">nunjucks</span> <span class="badge badge--orange">html-imports</span>. I build sites with modern and crossbrowser techniques. Valid, accessible and SEO-friendly <span class="badge badge--yellow">pixel-perfect</span> markup is the least I can give.'
        },
      },
      {
        title: 'Javascript / TS (ES6)',
        icons: [
          {
            name: 'icon-javascript',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-typescript',
            width: 50,
            height: 50,
          },
        ],
        text: {
          ru: 'Мой javascript типизирован, удобочитаем, понятен и производителен. В разработке использую <span class="badge badge--yellow">ES6</span> синтаксис, при этом не забывая про старые браузеры. Бандлы не перегружены ненужным кодом, если что-то можно сделать ручками без боли и без npm пакетов - будет сделано ручками.',
          en: 'My javascript is typed, comfortable, clear and easy to foollow and maintain. I use <span class="badge badge--yellow">ES6</span>. Anything that can be done without any pain and npm packages from scratch, will be done from scratch.'
        },
      },
      {
        title: 'React / Angular',
        icons: [
          {
            name: 'icon-react',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-angular',
            width: 50,
            height: 50,
          },
        ],
        text: {
          ru: 'В настоящее время разрабатываю сайты на React и Angular, работал в командах над проектами <span class="badge badge--red">МТС</span> <span class="badge badge--yellow">Билайн</span> <span class="badge badge--blue">Алроса</span>. Одних фреймворков мало, поэтому не обходится без использования полезных библиотек: Redux, MobX, MaterialUI, CoreUI и др.',
          en: 'Currently developing sites with <span class="badge badge--blue">React</span> and <span class="badge badge--red">Angular</span>, perfomed in teams on building large projects, such as <span class="badge badge--red">MTS</span> <span class="badge badge--yellow">Beeline</span> <span class="badge badge--blue">Alrosa</span>. Using framework ecosystem tools: Redux, MobX, MaterialUI, CoreUI and others.'
        },
      },
      {
        title: 'Gulp / Webpack',
        icons: [
          {
            name: 'icon-gulp',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-webpack',
            width: 50,
            height: 50,
          },
        ],
        text: {
          ru: 'В разработке использую инструменты сборки и автоматизации. Html собирается из файлов шаблонизатора, стили из scss, javascript минифицируется и прогоняется через <span class="badge badge--yellow">babel</span>.',
          en: 'To develop websites I use automatization and bundle tools. Compile Html from template engines, styles from scss, javascript minified and passed through <span class="badge badge--yellow">babel</span>.'
        },
      },
    ]
  }
