-
  const skillsData = {
    list: [
      {
        title: 'HTML5/CSS3',
        icons: [
          {
            name: 'icon-html',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-css',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus enim doloremque illum et cumque aperiam earum quidem voluptatum, laborum velit non',
      },
      {
        title: 'Javascript/TS (ES6)',
        icons: [
          {
            name: 'icon-javascript',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-typescript',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus',
      },
      {
        title: 'Git',
        icons: [
          {
            name: 'icon-git',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus',
      },
      {
        title: 'Gulp/Webpack',
        icons: [
          {
            name: 'icon-gulp',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-webpack',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus enim doloremque illum et cumque aperiam earum quidem',
      },
      {
        title: 'React / Angular',
        icons: [
          {
            name: 'icon-react',
            width: 50,
            height: 50,
          },
          {
            name: 'icon-angular',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus enim doloremque illum et cumque aperiam earum quidem',
      },
      {
        title: 'Wordpress',
        icons: [
          {
            name: 'icon-wordpress',
            width: 50,
            height: 50,
          },
        ],
        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nam, consequatur tempora voluptatibus enim doloremque illum et cumque aperiam earum quidem voluptatum, laborum velit non',
      },
    ]
  }
