-
  // TODO интернационализация альтов
  const worksData = {
    title: {
      en: 'Works',
      ru: 'Работы',
    },
    list: [
      {
        title: 'QEducation',
        id: 'qeducation',
        description: {
          en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
          ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
        },
        repo: 'https://github.com/kenakula/QEducation',
        link: 'https://qeducation-d5efb.web.app/',
        techs: ['React', 'Typescript', 'MobX', 'Material UI', 'SCSS', 'Firebase', 'BEM'],
        images: {
          thumbnail: {
            path: 'works/qeducation/',
            image: 'qe-1',
            format: 'png',
            width: 335,
            height: 175,
            altText: 'QEducation. Платформа для обучения персонала медицинской клиники',
          },
          list: [
            {
               path: 'works/qeducation/',
              image: 'qe-1',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'QEducation. Платформа для обучения персонала медицинской клиники',
            },
            {
               path: 'works/qeducation/',
              image: 'qe-2',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'QEducation. Платформа для обучения персонала медицинской клиники',
            },
            {
               path: 'works/qeducation/',
              image: 'qe-3',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'QEducation. Платформа для обучения персонала медицинской клиники',
            },
            {
               path: 'works/qeducation/',
              image: 'qe-4',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'QEducation. Платформа для обучения персонала медицинской клиники',
            },
          ]
        },
      },
      {
        title: 'FeelsLike',
        id: 'feelslike',
        description: {
          en: 'Simple app for popular method in cognitive behavioural therapy - diary of feels.',
          ru: 'Веб-приложение популярного метода когнитивно-поведенческой терапии. Дневник чувств.',
        },
        repo: 'https://github.com/kenakula/feelslike',
        link: 'https://feelslike-7240.web.app/',
        techs: ['React', 'Typescript', 'MobX', 'Material UI', 'SCSS', 'Firebase', 'BEM'],
        images: {
          thumbnail: {
            path: 'works/feelslike/',
            image: 'feelslike-1',
            format: 'png',
            width: 335,
            height: 175,
            altText: 'FeelsLike. Дневник эмоций. Практика в когнитивно-поведенческой терапии',
          },
          list: [
            {
              path: 'works/feelslike/',
              image: 'feelslike-1',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'FeelsLike. Дневник эмоций. Практика в когнитивно-поведенческой терапии',
            },
            {
              path: 'works/feelslike/',
              image: 'feelslike-2',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'FeelsLike. Дневник эмоций. Практика в когнитивно-поведенческой терапии',
            },
          ]
        },
      },
      {
        title: 'Solar',
        id: 'solar',
        description: {
          en: 'Could not pass space theme. Little experiment with css animations, background hacks and canvas.',
          ru: 'Не мог пройти мимо космической темы. Небольшой эксперимент с css хаками, анимациями и рисованием на javascript',
        },
        repo: 'https://github.com/kenakula/solar',
        link: 'https://kenakula.github.io/solar/build/main.html',
        techs: ['HTML5', 'Pug', 'SCSS', 'BEM', 'ES6', 'canvas'],
        images: {
          thumbnail: {
            path: 'works/solar/',
            image: 'solar-1',
            format: 'jpg',
            width: 335,
            height: 175,
            altText: 'Solar. Модель солнечной системы с временем в масштабе',
          },
          list: [
            {
              path: 'works/solar/',
              image: 'solar-1',
              format: 'jpg',
              width: 335,
              height: 175,
              altText: 'Solar. Модель солнечной системы с временем в масштабе',
            },
            {
              path: 'works/solar/',
              image: 'solar-2',
              format: 'jpg',
              width: 335,
              height: 175,
              altText: 'Solar. Модель солнечной системы с временем в масштабе',
            },
          ]
        },
      },
      {
        title: 'Ezhiki',
        id: 'ezhiki',
        description: {
          en: 'Just nice little page with pretty hedgehogs.',
          ru: 'Просто маленькая страничка с милыми ёжиками.',
        },
        repo: 'https://github.com/kenakula/hedgehogs',
        link: 'https://kenakula.github.io/hedgehogs/build/main.html',
        techs: ['HTML5', 'Pug', 'SCSS', 'BEM', 'ES6'],
        images: {
          thumbnail: {
            path: 'works/ezhiki/',
            image: 'ezhiki-1',
            format: 'png',
            width: 335,
            height: 175,
            altText: 'Ezhiki. Интернет-магазин ежей',
          },
          list: [
            {
              path: 'works/ezhiki/',
              image: 'ezhiki-1',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'Ezhiki. Интернет-магазин ежей',
            },
            {
              path: 'works/ezhiki/',
              image: 'ezhiki-2',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'Ezhiki. Интернет-магазин ежей',
            },
          ]
        },
      },
      {
        title: 'MNTN',
        id: 'mntn',
        description: {
          en: 'Single page with simple but beautifull parallax effect.',
          ru: 'Одиночная страница с простым, но красивым параллакс-эффектом.',
        },
        repo: 'https://github.com/kenakula/MNTN',
        link: 'https://kenakula.github.io/MNTN/build/main.html',
        techs: ['HTML5', 'Pug', 'SCSS', 'BEM', 'ES6', 'parallax'],
        images: {
          thumbnail: {
            path: 'works/mntn/',
            image: 'mntn-1',
            format: 'png',
            width: 335,
            height: 175,
            altText: 'MNTN. Сайт для путешественников',
          },
          list: [
            {
              path: 'works/mntn/',
              image: 'mntn-1',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'MNTN. Сайт для путешественников',
            },
            {
              path: 'works/mntn/',
              image: 'mntn-2',
              format: 'png',
              width: 335,
              height: 175,
              altText: 'MNTN. Сайт для путешественников',
            },
          ]
        },
      },
    ]
  }
