-
  const worksData = {
    title: {
      en: 'Works',
      ru: 'Работы',
    },
    list: [
      {
        title: 'QEducation',
        description: {
          en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
          ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
        },
        repo: '#',
        link: '#',
        images: {
          thumbnail: {},
          list: [

          ]
        },
      },
      {
        title: 'FeelsLike',
        description: {
          en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
          ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
        },
        repo: '#',
        link: '#',
        images: {
          thumbnail: {},
          list: [

          ]
        },
      },
      {
        title: 'Solar',
        description: {
          en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
          ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
        },
        repo: '#',
        link: '#',
        images: {
          thumbnail: {},
          list: [

          ]
        },
      },
      //- {
      //-   title: 'MNTN',
      //-   description: {
      //-     en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
      //-     ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
      //-   },
      //-   repo: '#',
      //-   link: '#',
      //-   images: {
      //-     thumbnail: {},
      //-     list: [

      //-     ]
      //-   },
      //- },
      //- {
      //-   title: 'Ezhiki',
      //-   description: {
      //-     en: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
      //-     ru: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ut. Nihil voluptas eaque provident doloribus.',
      //-   },
      //-   repo: '#',
      //-   link: '#',
      //-   images: {
      //-     thumbnail: {},
      //-     list: [

      //-     ]
      //-   },
      //- },
    ]
  }
